{% extends "admin/filer/base_site.html" %}
{% load i18n staticfiles %}

{% block content %}
<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


/* The Close Button */
.close {
  position: absolute;
  top: 10%;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

</style>


<div class="gallery" style="margin-top:2%">
{% if images %}
    {% for image in images %}
    <div class="image-info image-info-detail" style="display:inline-block; width:40%; margin-left: 5%;">
        <p>{{ image }}</p>
        <div class="image-details-left">
            <div class="image-preview-container" onclick="openImage('{{ image.id }}');">
                {% if image.thumbnails %}
                    <div class="image-preview js-focal-point" data-location-selector="#id_subject_location">
                        <img src="{{ image.url }}" data-ratio="{{ adminform.form.sidebar_image_ratio }}" class="js-focal-point-image" id="{{ image.id }}" style="object-fit:cover; max-height:130px;" alt="{{ image }}">
                        <div class="image-preview-field">
                            <div class="js-focal-point-circle image-preview-circle hidden"></div>
                        </div>
                    </div>
                {% else %}
                    <img src="{% if original.icons.48 %}{{ original.icons.48 }}{% else %}{% static 'filer/icons/missingfile_48x48.png' %}{% endif %}">
                {% endif %}
                <div class="text-left">
                    <a href="{{ image.url }}" class="btn">
                        {% trans "Full size preview" %}
                    </a>
                </div>
            </div>
        </div>
        <div class="image-details-right">
            {% if image.file_type or image.modified_at or image.uploaded_at or image.width or image.height or image.size %}
                <dl class="image-details">
                    {% if image.file_type %}
                        <dt>{% trans "Type" %}</dt>
                        <dd>{{ image.extension|upper }} {{ image.file_type }}</dd>
                    {% endif %}
                    {% if image.width or image.height %}
                        <dt>{% trans "Size" %}</dt>
                        <dd>{{ image.width }}x{{ image.height }} px</dd>
                    {% endif %}
                    {% if image.size %}
                        <dt>{% trans "File-size" %}</dt>
                        <dd>{{ image.size|filesizeformat }}</dd>
                    {% endif %}
                    {% if image.modified_at %}
                        <dt>{% trans "Modified" %}</dt>
                        <dd>{{ image.modified_at }}</dd>
                    {% endif %}
                    {% if image.uploaded_at %}
                        <dt>{% trans "Created" %}</dt>
                        <dd>{{ image.uploaded_at }}</dd>
                    {% endif %}
                </dl>
                <div class="image-actions">
                    <ul class="actions-list">
                        <li>
                            <span class="icon fa fa-user"></span>
                            {% if image.owner %}
                                <span class="text">{% trans "Owner" %}: <strong>{{ image.owner }}</strong></span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
    <div class="pagination">
        <span class="step-links">
            {% if images.has_previous %}
                <a href="?page={{ images.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ images.number }} of {{ images.paginator.num_pages }}.
            </span>

            {% if images.has_next %}
                <a href="?page={{ images.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(1)">&#10094;</a>
    <a class="next" onclick="plusSlides(-1)">&#10095;</a>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

{% endif %}


<script>

var g_image_id = 0;

function plusSlides(n) {
  openImage(parseInt(g_image_id) + n);
}

function openImage(image_id) {
    // Get the modal
    g_image_id = image_id;
    console.log(image_id);
    console.log('asd' + g_image_id);
    var modal = document.getElementById('myModal');
    modal.style.display="none";
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    img = document.getElementById(image_id.toString());
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    modal.style.display = "block";
    modalImg.src = img.src;
    captionText.innerHTML = img.alt;

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    };
}

</script>

{% endblock %}
